<div class="profile-container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="profile-card" layout="column" layout-align="center center">
    <div class="image-container">
      <img mat-card-image src="../../assets/restaurant img.jpg">
    </div>
    <mat-card-header>
      <mat-card-title>Red Hen Restaurant</mat-card-title>
      <mat-card-subtitle>Italian Restro</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Now this works!
      </p>
    </mat-card-content>
  </mat-card>
</div>