<!-- <header class="center"> -->

<div class="startCardHolder" fxLayoutAlign="center">
  <mat-card class="startUp-card">
    <mat-card-header>
      <div>
        <mat-card-title>
          Welcome to Pree! Please select an option!</mat-card-title
        >
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="imgCard"><img src="../../assets/Logo.png" /></div>

      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-card-actions>
          <div>
            <button mat-raised-button [routerLink]="['/login']" color="primary">
              Log In
            </button>
          </div>
          <div>
            <button
              mat-raised-button
              [routerLink]="['/register']"
              color="primary"
            >
              Register As Individual
            </button>
          </div>
          <div>
            <button
              mat-raised-button
              [routerLink]="['/register-business']"
              color="primary"
            >
              Register As Business
            </button>
          </div>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </mat-card>
</div>
