<div>
  <div class="form-expansion-panel">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Add Events </mat-panel-title>
          <mat-panel-description>
            Create an event to post
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="eventContainer">
          <form class="eventForm">
            <mat-form-field class="event-full-width">
              <input
                matInput
                placeholder="Event Name"
                [(ngModel)]="eventname"
                name="eventname"
                required
              />
            </mat-form-field>
            <table class="event-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="event-full-width">
                    <input
                      matInput
                      placeholder="Event Date"
                      [matDatepicker]="picker"
                      [(ngModel)]="eventdate"
                      name="eventdate"
                    />
                    <mat-datepicker-toggle
                      matSuffic
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Event time"
                      [(ngModel)]="eventtime"
                      name="eventtime"
                      required
                    />
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <mat-form-field class="event-full-width">
              <input
                matInput
                placeholder="Address"
                [(ngModel)]="eventlocation"
                name="eventlocation"
                required
              />
            </mat-form-field>
            <mat-form-field class="event-full-width">
              <input
                matInput
                placeholder="Event Type"
                [(ngModel)]="eventtype"
                name="eventtype"
                required
              />
            </mat-form-field>
            <mat-form-field class="event-full-width">
              <input
                matInput
                placeholder="Event Price"
                [(ngModel)]="eventprice"
                name="eventprice"
                required
              />
            </mat-form-field>
            <div clas="descriptionContainer">
              <mat-form-field class="event-full-width">
                <input
                  matInput
                  placeholder="Event Description"
                  [(ngModel)]="eventdescription"
                  name="eventdescription"
                  required
                />
              </mat-form-field>
            </div>
          </form>
          <mat-card-actions>
            <div>
              <button mat-raised-button (click)="addEvent()" color="primary">
                Add
              </button>
            </div>
          </mat-card-actions>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
