<div class="eventContainer">
  <form class="eventForm">
    <mat-form-field class="event-full-width">
      <input matInput placeholder="Event Name">
    </mat-form-field>
    <table class="event-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="event-full-width">
            <input matInput placeholder="Event Date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffic [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Event time">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="event-full-width">
      <input matInput placeholder="Address">
    </mat-form-field>
    <mat-form-field class="event-full-width">
      <input matInput placeholder="Event Type">
    </mat-form-field>
    <div clas="descriptionContainer">
      <mat-form-field class="event-full-width">
        <input matInput placeholder="Event Description">
      </mat-form-field>
    </div>
  </form>
</div>