<!-- <div class="eventpage-container"> -->
<!--
  <div
    class="event-container"
    *ngFor="
      let sevent of (allEvent
        | paginate: { itemsPerPage: numPerPage, currentPage: p })
    "
  >
    <mat-card class="event" fxLayoutAlign="center center">
      <div class="image-container">
        <img
          class="event-image"
          mat-card-image
          src="{{sevent.eventPhotoUrl }}"
        />
      </div>
      <mat-card-header>
        <mat-card-title>{{ sevent.eventName }}</mat-card-title>
        <mat-card-subtitle>{{ sevent.eventType }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h5>DESCRIPTION</h5>
        {{ sevent.eventDescription }}
        <h5>LOCATION</h5>
        {{ sevent.eventLocation }}
        <h5>DATE AND TIME</h5>
        {{ sevent.eventTime }} {{ sevent.eventDate }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="button">Add to my Calendar!</button>
      </mat-card-actions>
    </mat-card>
  </div>
-->

<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
</head>

<div class="added-event-container">
  <mat-card class="currentEvents"> Current Events </mat-card>

  <mat-card
    class="example-card z-depth-5"
    *ngFor="
      let sevent of (allEvent
        | paginate: { itemsPerPage: numPerPage, currentPage: p })
    "
  >
    <mat-card-header [ngStyle]="{ 'background-color': 'aquamarine' }">
      <!-- -   [style.backgroundColor]="'aquamarine'" -->
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title [ngStyle]="{ 'font-size': '24px' }">{{
        sevent.eventName
      }}</mat-card-title>

      <!-- class="center" fxLayoutAlign="center center" -->

      <!-- Name of the business which posts the event -->
      <mat-card-subtitle>{{ sevent.businessName }}</mat-card-subtitle>
    </mat-card-header>
    <img class="image center" mat-card-image src="{{sevent.eventPhotoUrl}}" />
    <mat-card-content>
      <h5>DESCRIPTION</h5>
      {{ sevent.eventDescription }}
      <h5>LOCATION</h5>
      {{ sevent.eventLocation }}
      <h5>DATE AND TIME</h5>
      {{ sevent.eventTime }} {{ sevent.eventDate }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" color="accent">
        Add to my Calendar!
      </button>
    </mat-card-actions>
  </mat-card>

  <pagination-controls
    align="center"
    (pageChange)="p = $event"
  ></pagination-controls>
  <!-- Controls which page the user would like to be on -->

  <section>
    <div class="Increase">
      <!-- Button to increase the amount of search results per page -->
      <button mat-raised-button type="button" (click)="moreResults()">
        Increase Results Per Page by 10
      </button>
    </div>

    <div class="Decrease">
      <!-- Button to decrease the amount of search results per page -->
      <button mat-raised-button type="button" (click)="lessResults()">
        Decrease Results Per Page by 10
      </button>
    </div>

    <p align="left">
      <!--
        Show user how many search results there are on the page at the moment
      -->
      Results per Page : {{ numPerPage }}
    </p>
  </section>
</div>
